<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>3.10 | <a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> and <a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Introducing the Shell</a>, <a href="https://swcarpentry.github.io/shell-novice/02-filedir.html">Navigating Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/03-create.html">Working with Files and Directories</a>, <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html">Pipes and Filters</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/01-basics.html">Automated Version Control</a></td>       <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>10.10 | <a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a></h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/02-setup.html">Setting Up Git</a></td>
        
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/03-create.html">Creating a Repository</a>, <a href="https://swcarpentry.github.io/git-novice/04-changes.html">Tracking Changes</a></td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/05-history.html">Exploring History</a></td>       <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>17.10 | <a href="https://librarycarpentry.github.io/lc-r/">Introduction to R</a></h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-r/00-before-we-start.html">Before we Start</a>, <a href="https://librarycarpentry.github.io/lc-r/01-intro-to-r.html">Introduction to R</a></td>        <!-- content -->        
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-r/02-starting-with-data.html">Starting with Data</a></td>      <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-r/03-data-cleaning-and-transformation.html">Data cleaning & transformation with dplyr</a></td>       <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>24.10 | <a href="https://librarycarpentry.github.io/lc-r/">Introduction to R</a></h3>
    <table class="table table-striped">
     <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-r/04-data-viz-ggplot.html">Data Visualization with ggplot2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td><a href="https://librarycarpentry.github.io/lc-r/04-data-viz-ggplot.html">Data Visualization with ggplot2</a></td>       <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td><a href="https://quarto.org/docs/get-started/hello/rstudio.html">Reproducible Notebooks with Quarto</a>, (Related Carpentries Knitr lesson <a href="https://swcarpentry.github.io/r-novice-gapminder/14-knitr-markdown.html">section</a> from <a href="https://swcarpentry.github.io/r-novice-gapminder">R for Reproducible Scientific Analysis</a></td>       <!-- content -->
      </tr>
    </table>
  </div>
</div>
