<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>3.10 | The Unix Shell</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td> 9:00 - 10:20       <!-- time    -->
        <td></td> Introducing the Shell, Navigating Files and Directories, Working with Files and Directoris       <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td> 10:20 - 10:40      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td> 10:40 - 12:00      <!-- time    -->
        <td></td> Pipes and Filters, Shell Scripts       <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td></td> 12:00 - 12:20      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td></td> 12:20 - 13:50      <!-- time    -->
        <td></td> Finding Things       <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>10.10 | Version Control with Git</h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td></td> 9:00 - 10:20       <!-- time    -->
        <td></td> Automated Version Control, Setting Up Git, Creating a Repository, Tracking Changes, Exploring History       <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td> 10:20 - 10:40      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td> 10:40 - 12:00      <!-- time    -->
        <td></td> Remotes in GitHub, Collaborating, Conflicts       <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td></td> 12:00 - 12:20      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td></td> 12:20 - 13:50      <!-- time    -->
        <td></td> Introduction to R and RStudio, Using Git from RStudio, Project Management With RStudio       <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>17.10 | R for Reproducible Scientific Analysis, Part 1</h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td></td> 9:00 - 10:20       <!-- time    -->
        <td></td> Seeking Help, Data Structures,        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td> 10:20 - 10:40      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td> 10:40 - 12:00      <!-- time    -->
        <td></td> Exploring Data Frames, Subsetting Data      <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td></td> 12:00 - 12:20      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td></td> 12:20 - 13:50      <!-- time    -->
        <td></td> Control Flow        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>24.10 | R for Reproducible Scientific Analysis, Part 2</h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td></td> 9:00 - 10:20       <!-- time    -->
        <td></td> Creating Publication-Quality Graphics       <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td> 10:20 - 10:40      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td> 10:40 - 12:00      <!-- time    -->
        <td></td> Vectorization, Functions Explained      <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td></td> 12:00 - 12:20      <!-- time    -->
        <td></td> Break       <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td></td> 12:20 - 13:50      <!-- time    -->
        <td></td> Writing Data, Writing Good Software       <!-- content -->
      </tr>
    </table>
  </div>
</div>
